.side-bar {

  input {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-right: 300px;
  }
  #article_search {
    padding-right: 30px;
  }
  .form-control {
    padding: 0 0;
  }
  p {
    font-size: 20px;
    color: $green;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .background-side {
    background-image: url("blur.png");
    background-size: cover;
    background-position: center;
    height: 40px;
    widows: 100%;
  }
}



.button_side {
  border: solid 0.5px grey;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  width: 80%;
  height: 40px;
  color: black;
  font-size: 18px;

}
