@media screen and (max-device-width: 768px) and (orientation: portrait) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 21px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
    letter-spacing: 1px;
  }
  p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  // Taille des polices

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 21px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
    letter-spacing: 1px;
  }
  p {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  // Taille des polices
  h1 {
    font-size: 50px ;
  }
  h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 17px;
    letter-spacing: 1px;
  }
  p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1349px) {
  // Taille des polices
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 38px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 29px;
  }

  h4 {
    font-size: 29px;
  }
  h5 {
    font-size: 20px;
    letter-spacing: 1px;
  }
  p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1350px) {
  // Taille des polices
  h1 {
    font-size: 70px;
  }
  h4 {
    font-size: 29px;
  }
  h2 {
    font-size: 53px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 36px;
  }
  h5 {
    font-size: 24px;
    letter-spacing: 1px;
  }
  p {
    font-size: 19px;
  }
}
