/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
.second_picture {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.first_picture {
  width: 100%;
  height: 650px;
  object-fit: cover ;
  image-poition: bottom;
}

