.accounts-index_articles {
  .navbar {
    display: none;
  }
  .my_articles_page {

    .my_articles {
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 400px;
      background-size: cover;
      h5 {
        text-align: center;
        font-size: 24px;
        color: white;
      }
    }
  }
}




