.accounts-show {
  .navbar {
    display: none;
  }
  .footer-connect {
    position: absolute;
    bottom: 0px;
  }

}

.new_article {
  margin-left: 70px;
  margin-right: 70px;
}


//  {
//   .navbar {
//     display: none;
//   }
//   .footer-connect {
//     position: absolute;
//     bottom: 0px;
//   }
// }
