/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: $gray-light;
$navbar-hover-color: $yellow;
$navbar-font-family: $navbar-font;
$navbar-font-size: 14px;
$navbar-text-transform: capitalize;
$navbar-font-weight: 300;
$navbar-letter-spacing: 1.5px;
$navbar-font-family: $navbar-font;
$navbar-bg: white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 10px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 1px;
$navbar-border-bottom-color: $gray-lighter;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */

.navbar {
  heigt: $navbar-height;
  width : 100%;
  border-bottom: thick dotted #ff0000;
  .navbar_link {
    display: inline;

  }
}
