/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: $gray-light;
$navbar-hover-color: $yellow;
$navbar-font-family: $navbar-font;
$navbar-font-size: 14px;
$navbar-text-transform: capitalize;
$navbar-font-weight: 300;
$navbar-letter-spacing: 1.5px;
$navbar-font-family: $navbar-font;
$navbar-bg: white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 10px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 1px;
$navbar-border-bottom-color: $gray-lighter;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */

 *,
 *:after,
 *::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }


 .active {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  pointer-events: none;
  cursor: default;
  }

 nav a:hover,
nav a:focus {
  outline: none;
}

 .none {
  display: none;
 }

.navigation {


  a {
    color: white;
  }

  .logo_space {
    height: $navbar-height;
    margin-bottom: 25px;
    width: 100%;
    .logo {
      height: 150px;
      width: 150px;
      margin-top: -45px;
      padding-top: 20px;
    }
  }

  .navbar_link:not(.activ):hover {
    border-style: solid;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: none;
    border-right: none;
    color: white !important;
  }


  a:hover {
    color: white;
  }

  .navbar {
    position: relative;
    height: 80px !important;
    width : 100%;
    background-image: url('../../assets/images/blur.jpg');
    background-size: cover;
    background-position: center;

     ul {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
     }

    .navbar_link {
      padding-top: 6px;
      padding-bottom: 6px;
      transition: border 0.5s ease;
      display: inline;
      margin-left: 15px;
      margin-right: 15px;
      font-family: 'feathericons', sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      color:white;
      width: 100%;
    }
  }
}

@font-face{
    font-family : "Cooperhewitt-light";

    src : url('../../fonts/cooperhewitt-light-webfont.eot');
    src : url('cooperhewitt-light-webfont.woff') format('woff'),
          url('cooperhewitt-light-webfont.svg#abcd') format('svg'),
          url('cooperhewitt-light-webfont.ttf') format('truetype');

    font-weigth : light;
}

@font-face{
    font-family : "Cooperhewitt-semibold";

    src : url('../../fonts/cooperhewitt-semibold-webfont.eot');
    src : url('cooperhewitt-semibold-webfont.woff') format('woff'),
          url('cooperhewitt-semibold-webfont.svg#abcd') format('svg'),
          url('cooperhewitt-semibold-webfont.ttf') format('truetype');

    font-weigth : semibold;
}

@font-face{
    font-family : "Cooperhewitt-medium";

    src : url('../../fonts/cooperhewitt-medium-webfont.eot');
    src : url('cooperhewitt-medium-webfont.woff') format('woff'),
          url('cooperhewitt-medium-webfont.svg#abcd') format('svg'),
          url('cooperhewitt-medium-webfont.ttf') format('truetype');

    font-weigth : medium;
}

@font-face{
    font-family : "Cooperhewitt-thin";

    src : url('../../fonts/cooperhewitt-thin-webfont.eot');
    src : url('cooperhewitt-thin-webfont.woff') format('woff'),
          url('cooperhewitt-thin-webfont.svg#abcd') format('svg'),
          url('cooperhewitt-thin-webfont.ttf') format('truetype');

    font-weigth : thin;
}

@font-face{
    font-family : "Cooperhewitt-book";

    src : url('../../fonts/cooperhewitt-book-webfont.eot');
    src : url('cooperhewitt-book-webfont.woff') format('woff'),
          url('cooperhewitt-book-webfont.svg#abcd') format('svg'),
          url('cooperhewitt-book-webfont.ttf') format('truetype');

    font-weigth : book;
}
