/* -------------------------------------
 * Your CSS code for forms
  * ------------------------------------- */


/* -------------------------------------
 * [TIPS] Look for cool form design on CodePen
 * ex: http://codepen.io/search?q=sign+up
 * ------------------------------------- */

 .form_rounded_style {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
